body {
    text-align: center;
    line-height: 1.5;
    font-size: 100%;
    background-color: rgb(5, 110, 40);
}

header,
section {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    margin: 24px 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

h2 {
    font-size: 32px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* *********** form ************ */
form {
    margin: 48px;
    background: #fff;
}

legend {
    font-size: 24px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

a {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

input {
    padding: 5px;
}

button {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-family: 'Inter', sans-serif;
}

fieldset {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

label,
input,
a,
button {
    margin: 5px;
}

/* ************** footer *************** */
footer li {
    display: inline;
}